*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

.bovenheader{
    background-color: rgb(255, 255, 80);
    display: flex;
    height: 25px;
}

.bovenheadertext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

header{
    background-color: lightblue;
    justify-content: center;
}

.onderheader{
    font-size: 28px;
    text-align: center;
    line-height: 80px;
}

nav{
    background-color: rgb(255, 94, 94);
    justify-content: center;
    text-align: center;
    width: 100%;
    line-height: 40px;
    display: block;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    height: 100px;
}

.footertext{
    color: black;
    line-height: 25px;
    text-align: center;
}

img{
    width: 200px;
    height: 150px;
}

main{
    display: flex;
}

.eten{
    display: flex;
}

.texthome{
    text-align: center;
    
}